<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net46" />
  <package id="Fody" version="5.1.0" targetFramework="net46" developmentDependency="true" />
  <package id="Fractions" version="4.0.1" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
  <package id="PropertyChanged.Fody" version="3.0.1" targetFramework="net46" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net46" />
</packages>